* {
    font-family: Tahoma, sans-serif;

}

body {
    margin: 0;
}

header {
    background-color: tomato;
    color: white;
    padding: 10px;
}

main {
    background-color: seashell;
    height: 500px;
    overflow: auto;
}

footer {
    display: flex;
    justify-content: center;
}

section {
    background-color: tomato;
    color: white;
    width: 25%;
    height: 160px;
}



.blockOpinion {
    background-color: white;
    color: dimgray;
    width: 60%;
    height: 220px;
    margin: 40px auto;
    box-shadow: 0 0 10px 5px dimgray;
}

h1,
h2 {
    text-align: center;
}

h4 {
    text-align: right;
    margin-right: 40px;
    font-size: 150%;
    font-style: italic;
}

img {
    float: left;
    margin: 10px;
    border-radius: 10px;
}

blockquote {
    padding: 10px;
    font-size: 150%;
    font-style: italic;
}

a {
    color: white;
}