* {
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(#97b498, #c8e6c9);
    color: white;
    text-align: center;
    padding: 5px;
}

main {
    display: flex;
}

.blockLeft {
    background-color: #c8e6c9;
    color: #005005;
    width: 40%;
    height: 600px;
}

.blockRight {
    color: #005005;
    width: 60%;
    height: 600px;
    overflow: scroll;
}

footer {
    background: linear-gradient(#c8e6c9, #97b498);
    color: white;
    padding: 12px;
}

video {
    width: 100%;
}

form {
    padding: 10px 50px;
}

button {
    background-color: #97b498;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #97b498;
}